.twitter-tweet {
    background-color: "blue";
}

.twitter-moment {
    background-color: "blue";
}

.Icon {
    fill: "blue";
    background-color: "blue";
    color: "blue"
}

.Icon--twitter {
    fill: "blue";
}

.Tweet-header {
    background-color: "blue"
}

#twitter-tweet{
    color: "blue"
}